                body {
                    font-family: 'Montserrat';
                    background: #1B1E22;
                }
                
                .main-screen::before {
                    content: '';
                    height: 1032px;
                    width: 100%;
                    position: absolute;
                    background: linear-gradient(180deg, rgba(255, 255, 255, 0.03) 2.5%, rgba(27, 30, 34, 0.4) 42.42%, #1B1E22 80.67%);
                }
                
                .main-screen {
                    background: url('../img/Rectangle 2.1.png');
                    width: 100%;
                    height: 1032px;
                    left: 0px;
                    top: 0px;
                    background-size: cover;
                }
                
                .main-screen__h1 {
                    font-style: normal;
                    font-weight: 500;
                    font-size: 48px;
                    line-height: 58px;
                    color: #ffffff
                }
                
                .main-screen__p {
                    font-style: normal;
                    font-weight: normal;
                    font-size: 20px;
                    line-height: 38px;
                    color: #FFFFFF;
                }
                
                .main-screen__search-title {
                    font-style: normal;
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 24px;
                    /* or 120% */
                    color: #FFFFFF;
                }
                
                .main-screen-search {
                    background: #1a2223b8;
                    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.25);
                    backdrop-filter: blur(24px);
                    border-radius: 10px;
                    margin: 0 2%;
                    padding: 10% 15%;
                }
                
                input.main-screen__input_search_icon {
                    width: 100%;
                    background-image: url('../img/Ellipse.svg');
                    background-repeat: no-repeat;
                    background-position-x: 97%;
                    background-position-y: center;
                }
                
                .main-screen__input {
                    background: transparent;
                    margin-top: 20px;
                    border: 1px solid #fff;
                    border-radius: 4px;
                    padding: 10px;
                }
                
                .main-screen__input::placeholder {
                    color: #FFFFFF;
                }
                
                .main-screen__input_medium_size_left {
                    width: 48%;
                }
                
                .main-screen__input_medium_size_right {
                    width: 48%;
                    float: right;
                }
                
                input.main-screen__input_arrow_icon {
                    width: 100%;
                    background-image: url('../img/arrow.svg');
                    background-repeat: no-repeat;
                    background-position-x: 97%;
                    background-position-y: center;
                }
                
                .main-screen__button {
                    width: 100%;
                    background: #FFB800;
                    border: #FFB800;
                    border-radius: 4px;
                    padding: 10px;
                    margin-top: 20px;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 24px;
                    color: #333333;
                }
                
                .global__h2 {
                    font-style: normal;
                    font-weight: 500;
                    font-size: 34px;
                    line-height: 38px;
                    text-align: center;
                    color: #FFFFFF;
                }
                
                .main-screen__h2-margin-top {
                    margin-top: 200px
                }
                
                .main-screen__priorities {
                    font-style: normal;
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 24px;
                    text-align: center;
                    color: #FFFFFF;
                    display: flex;
                    margin-top: 17px;
                }
                
                .main-screen__priorities-img {
                    margin-top: 34px;
                }
                
                .directions-background {
                    height: 216px;
                    background: url('../img/Rectangle 7.jpg');
                    width: 100%;
                    background-size: cover;
                    border-radius: 4px 4px 0px 0px;
                }
                
                .directions-price {
                    padding-top: 160px;
                    display: flex;
                }
                
                .directions-price__from span {
                    font-weight: bold;
                    font-size: 20px;
                    line-height: 24px;
                }
                
                .directions-price__from {
                    font-style: normal;
                    line-height: 32px;
                    align-items: center;
                    text-align: center;
                    color: #1B1E22;
                    background: #FFB800;
                    font-weight: 500;
                    font-size: 13px;
                    padding: 3px 2px;
                }
                
                .directions-price__date {
                    font-style: normal;
                    font-weight: 500;
                    font-size: 13px;
                    line-height: 16px;
                    display: flex;
                    align-items: center;
                    text-align: center;
                    color: #FFFFFF;
                    background: rgba(27, 30, 34, 0.54);
                    border-radius: 0px 6px 6px 0px;
                    padding: 0 6px;
                }
                
                .directions-text {
                    background-color: #23282F;
                    padding: 16px 20px 24px 20px;
                    border-radius: 0px 0px 4px 4px;
                    height: 220px;
                }
                
                .directions-text__h3 {
                    font-style: normal;
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 24px;
                    color: #FFFFFF;
                    margin: 0;
                }
                
                .directions-text__p {
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 20px;
                    color: #FFFFFF;
                    padding-top: 16px;
                    padding-bottom: 15px;
                }
                
                .directions-text__a {
                    font-style: normal;
                    font-weight: 500;
                    font-size: 13px;
                    line-height: 16px;
                    color: #FFFFFF;
                    opacity: 0.5;
                }
                
                .directions-content {
                    margin-top: 24px;
                    padding: 0 10px;
                }
                
                .directions-content:hover {
                    transform: scaleY(1.05);
                    padding: 0;
                    box-shadow: 0psx 15px 35px rgba(0, 0, 0, 0.75);
                }
                
                .directions-content:hover .directions-text {
                    background-color: #FFFFFF;
                }
                
                .directions-content:hover .directions-text__h3,
                .directions-content:hover .directions-text__p {
                    color: #333;
                }
                
                .directions-content:hover .directions-text__a {
                    color: #000000;
                    opacity: 0.5;
                }
                
                .direction-content-btn {
                    padding: 48px 0 70px 0;
                }
                
                .direction-content__btn {
                    border: 1px solid #FFB800;
                    box-sizing: border-box;
                    border-radius: 4px;
                    color: #fff;
                    padding: 14px 34px;
                    background: transparent;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 24px;
                }
                
                .counter::before {
                    content: '';
                    height: 230px;
                    width: 100%;
                    position: absolute;
                    background: rgba(27, 30, 34, 0.78);
                }
                
                .counter {
                    background-image: url('../img/counter_bg.png');
                    width: 100%;
                    left: 0px;
                    top: 0px;
                    background-size: cover;
                    height: 230px;
                    flex-basis: initial;
                }
                
                .counter .container,
                .counter .row,
                .counter .counter-list {
                    height: 100%;
                }
                
                .counter__number {
                    font-style: normal;
                    font-weight: 500;
                    font-size: 78px;
                    line-height: 58px;
                    color: #FFB800;
                    text-align: center;
                }
                
                .counter-list {
                    align-content: center;
                    display: flex;
                    justify-content: center;
                    flex-wrap: wrap;
                }
                
                .counter__desc {
                    font-style: normal;
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 24px;
                    text-align: center;
                    width: 100%;
                    color: #FFFFFF;
                    padding-top: 20px;
                }
                
                .blog-main {
                    background-image: url('../img/blog1.png');
                    border-radius: 4px;
                    height: 480px;
                    background-size: cover;
                    padding: 0px;
                }
                
                .blog-main::before {
                    content: '';
                    height: 480px;
                    width: 100%;
                    position: absolute;
                }
                
                .blog {
                    padding-top: 62px;
                }
                
                .global__h2_padding {
                    padding-bottom: 44px;
                }
                
                .global__h2_blog-pad {
                    padding: 41px 15px 28px 15px;
                }
                
                .blog__date {
                    font-style: normal;
                    font-weight: normal;
                    font-size: 13px;
                    line-height: 16px;
                    text-align: center;
                    color: #FFFFFF;
                }
                
                div[class*='blog-article-background'] {
                    height: 216px;
                    width: 100%;
                    background-size: cover;
                    border-radius: 4px 4px 0px 0px;
                }
                
                .blog-article-background-1 {
                    background: url('../img/blog_img1.png');
                }
                
                .blog-article-text {
                    background-color: #23282F;
                    padding: 16px 20px 24px 20px;
                    border-radius: 0px 0px 4px 4px;
                    height: 264px;
                    display: flex;
                    flex-wrap: wrap;
                }
                
                .blog-article-text__h3 {
                    font-style: normal;
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 24px;
                    color: #FFFFFF;
                    margin: 0;
                }
                
                .blog-article-text__p {
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 20px;
                    color: #FFFFFF;
                    padding-top: 16px;
                }
                
                .blog-article-text__a {
                    font-style: normal;
                    font-weight: 500;
                    font-size: 13px;
                    line-height: 16px;
                    color: rgba(255, 255, 255, 0.5);
                    margin-bottom: 0;
                    align-self: flex-end;
                    justify-content: space-between;
                    display: flex;
                }
                
                .blog-article-text_msg {
                    background-image: url(../img/chat.svg);
                    background-size: contain;
                    background-repeat-x: no-repeat;
                    padding-left: 20px;
                }
                
                .blog-article-text__like {
                    background-image: url(../img/Vectorlike.svg);
                    background-size: contain;
                    background-repeat-x: no-repeat;
                    padding-left: 20px;
                }